## *Scraping data*

In [38]:
from bs4 import BeautifulSoup as bs
import requests

In [ ]:
url="https://en.wikipedia.org/wiki/List_of_largest_companies_in_India"
tabs=requests.get(url)
soup=bs(tabs.text,"html")

print(soup)

In [ ]:
table=soup.find('table', class_="wikitable sortable")
print(table)

In [ ]:
title_tab=table.find_all('th')
title_tab #it is a list

In [ ]:
table_title=[title.text.strip() for title in title_tab]
print(table_title)     #for printing the titles of the table

In [98]:
import pandas as pd

In [114]:
df=pd.DataFrame(columns = table_title)
df

Empty DataFrame
Columns: [Rank, Forbes 2000 rank, Name, Headquarters, Revenue(billions US$), Profit(billions US$), Assets(billions US$), Value(billions US$), Industry]
Index: []

In [ ]:
data_tab=table.find_all('tr')
data_tab

In [149]:
for row in data_tab[1:]:
    row_data=row.find_all('td')
    each_row_data = [data.text.strip() for data in row_data]
    #print(each_row_data)
    length=len(df)
    df.loc[length]=each_row_data

In [151]:
df

,Rank,Forbes 2000 rank,Name,Headquarters,Revenue(billions US$),Profit(billions US$),Assets(billions US$),Value(billions US$),Industry
0,1,49,Reliance Industries Limited,Mumbai,108.8,8.4,210.5,233.1,Conglomerate
1,2,55,State Bank of India,Mumbai,71.8,8.1,807.4,87.6,Banking
2,3,65,HDFC Bank,Mumbai,49.3,7.7,483.2,133.6,Banking
3,4,70,Life Insurance Corporation,New Delhi,98.0,4.9,561.4,73.6,Insurance
4,5,142,ICICI Bank,Mumbai,28.5,5.3,283.5,95.3,Banking
...,...,...,...,...,...,...,...,...,...
66,65,1895,Dr. Reddy's Laboratories,Hyderabad,3.4,0.7,4.6,11.6,Pharmaceuticals
67,66,1908,Varun Beverages,Gurgaon,2.0,0.3,1.8,23.6,Beverages
68,67,1949,CIFCL,Chennai,2.3,0.4,18.8,13.0,Financials
69,68,1957,NMDC,Hyderabad,2.5,0.8,3.9,9.7,Mining
70,69,1980,ABB India,Bangalore,1.3,0.2,1.3,21.3,Capital goods

In [153]:
df.to_csv(r'E:\DA_TOPS\python\scrapped_data\Indian_companies.csv',index=False)

In [197]:
main_header=soup.find("h1")
print(main_header.text)

List of largest companies in India